{% extends 'layout.html'%}
{% block content %}
{% include '_messages.html' %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categories">Categorias de armas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/collections">Colecciones de armas</a>
                </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="/logout">Logout</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

<div class="container">
    <table class="table table-sm table-bordered">
        <thead>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Float</th>
            <th>Stock</th>
            <th>Edicion Skin</th>
            <th>Tipo de Arma</th>
            <th>Imagen</th>
            <th>Editar</th>
            <th>Borrar</th>
        </thead>
        <tbody>
            {% for skin in skins %}
            <tr>
                <td>{{skin.name}}</td>
                <td>${{skin.price}}</td>
                <td>{{skin.float}}</td>
                <td>{{skin.stock}}</td>
                <td>{{skin.brand.name}}</td>
                <td>{{skin.category.name}}</td>
                <td><img src="{{url_for('static', filename='images/' + skin.image)}}" alt="" width="50px" height="50px"></td>
                <td><a href="{{url_for('updateskin',id=skin.id)}}"class="btn btn-info btn-sm">Edit</a></td>
                <td><button type="button" class="btn btn-danger btn-sn" data-toggle="modal" data-target="#exampleModal-{{skin.id}}">Borar</button></td>
            </tr>
            <div class="modal fade" id="exampleModal-{{skin.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{skin.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <span class="text-danger">Estas seguro que quieres borar la skin {{skin.name}}?</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-btn-warning btn-sm" data-dismiss="modal">Cancelar</button>
                    <form action="{{url_for('deleteskin', id=skin.id)}}" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock content %}