{%extends 'layout.html'%}

{% block content %}
{%include 'navbar.html'%}
<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class = "col-md-12">
            <table class = "table table-sm table-dark">
                <thead>
                    <th>#</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Float</th>
                    <th>Quantity</th>
                    <th>Update</th>
                    <th>Remove</th>
                </thead>
                <tbody>
                    {% for key, skin in session['Shoppingcart'].items()%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><img src="{{url_for('static',filename='images/'+ skin.image)}}" alt="{{skin.name}}"width="60"height="55"></td>
                        <td>{{skin.name}}</td>
                        <td>{{skin.price}}</td>
                        <td>{{skin.float}}</td>
                        <form action="{{url_for('updatecart', code=key)}}" method="POST">
                            <td><input type="number" name = "quantity" min ="1" max ="{{skin.stock}}" value = "{{skin.quantity}}"></td>
                            <td><button type = "submit" class = "btn btn-sm btn-info" href="#">Update</button></td>
                        </form>
                        <td><a href="{{url_for('deleteitem', id=key)}}" class = "btn btn-sm btn-danger">Remove </a> </td>
                    </tr>
                    {%endfor%}
                    <br>
                    <tr>
                        <td></td>
                        <td><a href="{{url_for('home')}}"><h4>Continuar comprando</h4></a></td>
                        <td colspan="4"><h4>Total: ${{grantotal}}</h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}

