{% extends 'layout.html' %}
{%block content%}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">SKINS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        COLECCIÓN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for collect in collections %}
                        <a class="dropdown-item" href="{{url_for('get_collection', id = collect.id)}}">{{collect.name}}</a>
                        {%endfor%}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CATEGORIAS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for cat in categories %}
                        <a class="dropdown-item" href="{{url_for('get_category', id = cat.id)}}">{{cat.name}}</a>
                        {%endfor%}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        {% if brands%}
        {% for b in brands %}
        <div class ="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + b.image)}}" alt="{{b.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class = "text-center">{{b.name}}</h5>
                    <p class = "text-center"> Precio: ${{b.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class = "float-left btn btn-sm btn-primary">Detalles</a>
                    <a href="#" class = "float-right btn btn-sm btn-warning">add to card</a>
                </div>
            </div>
        </div>
        {%endfor%}
        {% elif category%}
        {%for cat in category%}
        <div class ="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + cat.image)}}" alt="{{cat.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class = "text-center">{{cat.name}}</h5>
                    <p class = "text-center"> Precio: ${{cat.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class = "float-left btn btn-sm btn-primary">Detalles</a>
                    <a href="#" class = "float-right btn btn-sm btn-warning">add to card</a>
                </div>
            </div>
        </div>
        {%endfor%}

        {%else%}
        {% for skin in skins %}
        <div class ="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + skin.image)}}" alt="{{skin.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class = "text-center">{{skin.name}}</h5>
                    <p class = "text-center"> Precio: sdfsdf ${{skin.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class = "float-left btn btn-sm btn-primary">Detalles</a>
                    <a href="#" class = "float-right btn btn-sm btn-warning">add to card</a>
                </div>
            </div>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

{%endblock%}